.titre{
    text-align: center;
}

.linkBtn:hover{
	color:white;
}

/***********************
	      Header
************************/

#header {

	height:75px;
	width:100%;
    position:absolute;
    text-align :center;
	top:0;
    left: 0;
	background:url(https://asset.leetchi.com/Content/Longane/dist/img/pattern/pattern-grid.png) repeat center top #444444;
	z-index:20;
    box-shadow: 0px 5px 10px black;
}
#header p{

    font-size : 55px;
    font-family: Comic;
    color:#F2F2F2;
}
span{
    color:rgb(33, 159, 191);
}
.spanWhiteShadow{
	text-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 15px white;
}

th{
    font-family: Comic;
}

.logo {
	position : relative;
	text-align: center;
    margin : auto 50px;
}

#infoSection{
    height : 100%;
    width : 100%;
    padding-top : 150px;
    text-align : center;
    font-size : 25px;
    top:0;
    left:0;
	background:url(https://asset.leetchi.com/Content/Longane/dist/img/pattern/pattern-grid.png) repeat center top #CCCCCC;
	position: absolute;
	vertical-align: sub;
}
.form{
	width:50%;
	height:90%;
	padding : 10px auto;
	box-shadow: 8px 8px 12px black;
	font-family:Noto Sans;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-left: 10%;
	border-radius: 10px;
	background:url(https://asset.leetchi.com/Content/Longane/dist/img/pattern/pattern-grid.png) repeat center top #CCCCCC;
}
.formDark{
	padding-top: 0;
	text-align: center;
	margin-left:19%;
	width : 60%;
	height:100px;
	background:url(https://asset.leetchi.com/Content/Longane/dist/img/pattern/pattern-grid.png) repeat center top #999999;
}
.flexTag{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.flexTag.center{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.prop{
	margin : 2px 0;
	color : ivory;
	min-width: 100px;
	text-align: left;
}
.prop.right{
	text-align: right;
}


.shadow
{
	box-shadow: 0px 5px 10px black;
}

.textNamePres{
	margin:0;
	color:#FEFEFE;
	font-family:Noto Sans;
	font-weight: 700;
	text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 15px black;
}